# Nom du workflow
name: Talk Weather

# Déclencheur de l'action
on:
    # au push sur main
    push:
        branches:
            - main
    # Clique sur le bouton 
    workflow_dispatch:
    # Chaque 2 minutes
    schedule:
        - cron: "*/2 * * * *"

# Les tâches à exécuter
jobs:
    # Nom de la tâche
    ask-weather:
        # Environnement
        runs-on: ubuntu-latest
        # Étapes
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            # Action de l'API de météo
            - name: Get the weather
              run: |
                wttr=$(curl -s https://wttr.in/Paris)
                prompt="Résume la météo à Paris à partir de la réponse suivante : $wttr"
                reponse=$(curl "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=${{ secrets.TALK_WEATHER }}" \
                          -H 'Content-Type: application/json' \
                          -X POST \
                          -d '{
                            "contents": [{
                              "parts":[{"text": "Résume la météo à Paris à partir de la réponse suivante : 24deg"}],
                              }]
                             }'